# 2018년 3월 28일 점프투파이썬 2장
## 테스트 
- 숫자형
    1. 기능1
    2. 기능2
- 문자열
- 리스트


1. 숫자형
2. 문자열

In [3]:
print("3번째 수업")

3번째 수업

## 1절 숫자형

In [12]:
123

123

In [13]:
456

456

In [14]:
1+2

3

In [15]:
1*3

3

In [16]:
7/4

1.75

In [17]:
-7/4

-1.75

In [18]:
7//4

1

In [20]:
7%4

3

In [21]:
1-0.9

0.09999999999999998

### Lab 1
#### 수익 계산
- 변수 revenue를 생성 후 98456 할당
- 변수 cost를 생성 후 45000 할당
- 변수 profit을 생성 후, revenue와 cost 차이 값으로 설정
- profit 출력

In [33]:
revenue = 98456
cost = 45000
profit = revenue - cost
print(profit)

53456

## 2절 문자열

In [24]:
boy = "I am a boy"
boy

'I am a boy'

In [25]:
girl = 'I am a girl'
girl

'I am a girl'

In [26]:
friend="""
I am a boy
I am a girl
"""
friend

'\nI am a boy\nI am a girl\n'

In [27]:
boy + girl

'I am a boyI am a girl'

In [28]:
boy + ' ' + girl

'I am a boy I am a girl'

In [29]:
boy *3

'I am a boyI am a boyI am a boy'

In [40]:
# 문자열 인덱싱
a = "Life is too short, You need Phtyon"
a[0]+a[10]+a[30]

'Lot'

In [41]:
# 문자열 슬라이싱 a <= : < b
a[12:17]

'short'

In [42]:
a[:]

'Life is too short, You need Phtyon'

In [43]:
a[8:]

'too short, You need Phtyon'

In [44]:
a[:20]

'Life is too short, Y'

## Lab 2
#### 문자열 다루기
- 변수 a를 생성해서, 문자열 "I love Python!" 할당하시오.
- 변수 b를 생성해서, 문자열 "You hate Phython!" 할당하시오.

In [38]:
a = "I love Phython!"
b = "You hate Phython!"

In [51]:
a = "20180328Sunny"
year = a[:4]
month = a[4:6]
day =a[6:8]
weather=a[8:]
print(year, month, day, weather)

2018 03 28 Sunny

In [52]:
print(year, "년", month,"월", day, "일", '날씨는', weather, '입니다.')

2018 년 03 월 28 일 날씨는 Sunny 입니다.

In [54]:
"{year}년 {month}월 {day}일 날씨는 {weather}입니다." .format(year=year, month=month, day=day, weather=weather)

'2018년 03월 28일 날씨는 Sunny입니다.'

## 문자열 내장함수

In [71]:
# 문자 개수 세기
a = "나는 나다."
a.count('나')

2

In [75]:
# 위치 알려주기
a= "hobby"
a.find('b')

2

In [76]:
# 위치 알려주기2
a.index('b')

2

In [77]:
# 문자열 삽입하기
a= ", "
a.join("abcd")

'a, b, c, d'

In [78]:
# 대문자로
a= "I love Python"
a.upper()

'I LOVE PYTHON'

In [79]:
# 소문자로
a.lower()

'i love python'

In [80]:
# 왼쪽 공백  지우기
a = " hi "
a.lstrip()

'hi '

In [83]:
# 오른쪽 공백  지우기
a.rstrip()

' hi'

In [84]:
# 양쪽 끝의 공백  지우기
a.strip()

'hi'

In [85]:
# 문자열 나누기
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

## Lab 2 이어서
- a에서 첫번째 o의 위치를 find()함수로 찾아보시오.
- b에서 첫번째 o의 위치를 index()함수로 찾아보시오.
- a의 'o'문자 개수를 세시오.

In [89]:
a = "I love Phython!"
b = "You hate Phython!"

In [103]:
print(a.find("o"))

3

In [91]:
b.index("o")

1

In [92]:
a.count('o')

2

- 변수 a를 모두 대문자로 바꿔보시오.
- 변수 b를 모두 소문자로 바꿔보시오.

In [93]:
a.upper()

'I LOVE PHYTHON!'

In [94]:
b.lower()

'you hate phython!'

- 변수 a_6에 a의 첫 7문자열들로 이루어진 부분 문자열을 할당하시오.
- 변수 a_6의 문자열을 공백을 이용해서 나눠보시오.

In [104]:
a_6=a[:7]
print(a_6)

I love

In [105]:
a_6.rstrip()

'I love'

### Lab 3
#### 문자열 포매팅
- 변수 pi를 생성하고 3.141592를 할당하시오.
- 변수 sq_root를 생성하고 1.41429를 할당하시오.

In [65]:
pi=3.141592
sq_root=1.41429

#### 다음의 출력을 포매팅을 사용하여 만드시오.
- pi is 3.141592, and square root of 2 is

In [66]:
"pi is {pi}, and square root of 2 is {sq_root}" .format(pi=pi, sq_root=sq_root)

'pi is 3.141592, and square root of 2 is 1.41429'

## 3절 리스트