# 점프투파이썬 2장 이어서
## 3절 리스트

In [1]:
print("안녕하세요.")

안녕하세요.

In [2]:
print(123)

123

### 리스트 만들기

In [5]:
# 빈 리스트
a = []
a

[]

In [6]:
b= [1,2,3]
b

[1, 2, 3]

In [8]:
c = ["Life", "is", "too", "short"]
c

['Life', 'is', 'too', 'short']

In [10]:
d = [1, 2, "Life", "is"]
d

[1, 2, 'Life', 'is']

In [11]:
e = [1, 2, ["life", "is"]]
e

[1, 2, ['life', 'is']]

### 리스트의 인덱싱

In [12]:
[0,5] # 공간 상 첫째부터 다섯번째까지

[0, 5]

In [13]:
a = [1,2,3]
a

[1, 2, 3]

In [14]:
a[1]

2

In [15]:
a[-1]

3

In [16]:
e

[1, 2, ['life', 'is']]

In [17]:
e[2]

['life', 'is']

In [18]:
e[2][0]

'life'

### 리스트의 슬라이싱

In [19]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [20]:
b = a[0:2]
b

[1, 2]

# 리스트의 연산자

In [21]:
print (a,b)
print (b)

[1, 2, 3, 4, 5] [1, 2]
[1, 2]

In [22]:
c= a +b
c

[1, 2, 3, 4, 5, 1, 2]

In [23]:
a*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### 리스트의 수정, 변경, 삭제

In [24]:
# 하나의 값 수정하기
a = [1,2,3]

In [25]:
a[2] = 4
a

[1, 2, 4]

# 연속된 범위 값 수정

In [26]:
a [1:2]

[2]

In [29]:
a [1:2] = ['a', 'b', 'c', 4]
a

[1, 'a', 'b', 'c', 4, 'b', 'c', 'b', 'c', 4, 'b', 'c', 'b', 'c', 4, 4]

In [31]:
# 중첩하여 수정
a[2] = ['a','b']
a

[1, 'a', ['a', 'b'], 'c', 4, 'b', 'c', 'b', 'c', 4, 'b', 'c', 'b', 'c', 4, 4]

In [33]:
# 리스트 요소 삭제
a = [1,2,3]
del a [2]
a

[1, 2]

In [35]:
a = [1,2,3,4]
del a [1:3]
a

[1, 4]

# 리스트 함수

In [37]:
# 리스트에 요소 추가
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [38]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [40]:
# 리스트 정렬
a = [1,3,4,5,2]
a.sort()
a

[1, 2, 3, 4, 5]

In [41]:
# 리스트 뒤집기
a = [1,3,4,5,2]
a.reverse()
a

[2, 5, 4, 3, 1]

In [42]:
# 위치 반환
a = [1,2,3]
a.index(3)

2

In [44]:
# 리스트에 요소 삽입
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [47]:
a.insert(3,5)
a

[4, 1, 2, 5, 5, 5, 3]

In [49]:
# 리스트 요소 제거
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [50]:
# 리스트 요소 꺼내기
a = [1, 2, 3]
a.pop()

3

In [51]:
# 요소 개수 세기
a = [1,2,3,1]
a.count(1)

2

In [53]:
# 리스트 확장
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [54]:
a.append([5,6])
a

[1, 2, 3, 4, 5, [5, 6]]

### 튜플

In [55]:
t1 = ()
t2 = (1, )
t3 = (1,2,3)
t4 = ('a','b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

In [57]:
del t3[1]

TypeError: 'tuple' object doesn't support item deletion

### 딕셔너리

In [58]:
dic = {'name':'이정우', 'phone':'01234243771'}
print(dic)

{'name': '이정우', 'phone': '01234243771'}

In [59]:
dic['name']

'이정우'

In [60]:
dic['phone']

'01234243771'

### 불자료형(bool)

In [61]:
# T/ F
# True / False
3 >1

True

In [62]:
1>3

False

In [63]:
if [1,2]:
    print("참")
else:
    print("거짓")

참

# 3장 제어문
## 1. if문

In [65]:
money = 1 # 돈이 있다.
if money:
    print("택시 타자")
else:
    print("걸어 가야해")

택시 타자

In [ ]:
#기본구조
if 조건문:
    수행 문장1
    수행 문장2
else:
    수행 문장A
    수행 문장B
# Tab 1번 또는 spacebar 4번

In [66]:
money = 2000 # 내 돈
if money >= 3000:
    print("택시 타자")
else: 
    print("걸어 가야해")

걸어 가야해

In [67]:
money = 2000 # 내 돈
card = 1 # 카드가 있다
if money >= 3000 or card:
    print("택시 타자")
else:
    print("걸어 가야해")

택시 타자

In [68]:
pocket = ['paper', 'cellphone', 'card']
if 'money' in pocket:
    print("택시 타자")
else:
    if 'card':
        print("택시 타자")
    else:
        print("걸어 가야해")

택시 타자

In [69]:
# elif를 사용
if 'money' in pocket:
    print("택시")
elif 'card' in pocket:
    print("택시")
else:
    print("걸어 가야해")

택시

In [ ]:
#구문
if <조건문>:
    수행문장1
    수행문장2
elif<조건문>:
    수행문장1
elif<조건문>:
    수행문장1
elif<조건문>:
    수행문장1
else:
    수행문장1